@import url('https://fonts.googleapis.com/css2?family=Chango&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



:root{
    --expresso: #47281b;
    --capuccino: #5a3a11;
    --espumado: #bf8453;
    --morango: #ddacae;
    --leite: #cec2ab;
    --creme: #f7ebd5;
    --texto: "Nunito", sans-serif;
    --titulo:  "Chango", sans-serif;
}
body{
    background-color: var(--creme);
    font-family: var(--texto);
}